# Imports

In [39]:
import pandas as pd
import numpy as np

from sklearn import linear_model as lm

# Loading Data

In [12]:
df_raw = pd.read_csv( 'dataset/kc_house_data.csv' )

In [13]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data preparation

In [24]:
#Features
x_train = df_raw.drop( ['price', 'date'], axis=1 )

#Response variable
y_train = df_raw['price'].copy()

# Model Training

In [25]:
#model description
model_lr = lm.LinearRegression()

#model training
model_lr.fit ( x_train, y_train)

LinearRegression()

In [26]:
#prediction
pred = model_lr.predict (x_train )

In [28]:
pred[0:100]

array([ 205766.26460949,  731219.64982982,  379097.88265399,
        457424.13432539,  444789.05471816, 1451676.80046295,
        277965.14285814,  135261.77208383,  329843.81624393,
        250731.25050363,  870212.88141884,  437789.72121262,
        600311.43498101,  316903.13655568,  611557.85739102,
        944453.29692621,  456573.686263  ,  539004.69481021,
        335024.25629831,  210585.07434911,  466088.95603622,
       1116489.11078675,  330386.45026628,  130784.11743735,
        545423.99906286,  310538.26026994,  802018.13764896,
        651875.20382825,  457699.20615293,  650018.45024579,
        541202.92170076,  332196.71884792,  655096.04733213,
        555240.33756521,  319817.17474397,  804301.35470876,
        201145.17195281,  861533.54324505,  103130.75983515,
        585745.32147541,  664511.50307347,  742662.60624431,
        863042.39845933,  508391.02023402,  153710.08047338,
        811721.6651647 ,   32096.77784426,  762323.1958489 ,
        417855.61065247, 1530097.62528269,  185578.711954  ,
        658157.92713997,  471090.25997106,  498290.25253094,
        789802.28617632,  773293.9624142 ,  271727.39865363,
        467150.37020333, 1056923.77322497,  443395.18842532,
        694554.24465655,  237766.54435046,  598068.69850032,
        408857.34579771,  376054.00863786,  744927.55137086,
        879888.08105553,  321711.45186221,  121851.74702505,
        783019.32595658, 1399362.50569184,  460538.49633778,
        800124.29246167,  390335.05311705,  300689.96053703,
        991726.69237278,  413248.79001202,  310476.89799589,
        413980.07473513,  802185.44256468,  412926.15633982,
        218377.00510935,  449654.54032644,  434848.80269801,
        261756.27101988,  819846.02518   ,  407338.5140398 ,
        708935.71931339,  424310.54489835,  177895.94502961,
        297041.36776164,  958741.14250694,  190018.37500691,
        603396.37010415,  603396.37010415,  795519.96750259,
        354071.72245308,  155387.93358114,  244625.66437904,
        645182.95882839])

# Performance Metrics

In [29]:
df1 = df_raw.copy()

In [30]:
df1['prediction'] = pred

In [49]:
df1[['id', 'price', 'prediction','error','error_abs','error_perc','error_perc_abs']].head()

,id,price,prediction,error,error_abs,error_perc,error_perc_abs
0,7129300520,221900.0,205766.264609,16133.735391,16133.735391,0.072707,0.072707
1,6414100192,538000.0,731219.649830,-193219.649830,193219.649830,-0.359144,0.359144
2,5631500400,180000.0,379097.882654,-199097.882654,199097.882654,-1.106099,1.106099
3,2487200875,604000.0,457424.134325,146575.865675,146575.865675,0.242675,0.242675
4,1954400510,510000.0,444789.054718,65210.945282,65210.945282,0.127865,0.127865

In [48]:
df1['error'] = df1['price'] - df1['prediction']
df1['error_abs'] = np.abs( df1['error'])

df1['error_perc'] = ( (df1['price'] -df1['prediction'] ) / df1['price']) 
df1['error_perc_abs'] = np.abs( df1['error_perc'])

In [52]:
#Mean Absolute Error
mae = np.mean( df1['error_abs'] )
print('MAE:{}'.format(mae))

MAE:125921.54419399053

In [55]:
#Mean Absolute Percentage Error
mape = np.mean( df1['error_perc_abs'])
print( 'MAPE: {}'.format(mape))

MAPE: 0.2558051253618859